<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hogwartstest.aitestmini.dao.HogwartsTestTaskMapper" >
  <resultMap id="BaseResultMap" type="com.hogwartstest.aitestmini.entity.HogwartsTestTask" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="test_jenkins_id" property="testJenkinsId" jdbcType="INTEGER" />
    <result column="build_url" property="buildUrl" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="case_conut" property="caseConut" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="task_type" property="taskType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="test_command" property="testCommand" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="count" resultType="int">
    select count(1) from hogwarts_test_task htt where htt.create_user_id =  #{params.createUserId}

    <if test="params.name != null and params.name != '' ">
      and htt.name = #{params.name}
    </if>

  </select>

  <select id="list" resultType="HogwartsTestTask">
    select * from hogwarts_test_task htt where htt.create_user_id =  #{params.createUserId}

    <if test="params.name != null and params.name != '' ">
      and htt.name = #{params.name}
    </if>
    order by htt.update_time desc
    limit #{pageNum}, #{pageSize}
  </select>

  <select id="getTaskByType" resultType="com.hogwartstest.aitestmini.dto.task.TaskDataDto">
    select count(1) taskCount, task_type taskKey from hogwarts_test_task where create_user_id = #{createUserId} GROUP BY task_type
  </select>

  <select id="getTaskByStatus" resultType="com.hogwartstest.aitestmini.dto.task.TaskDataDto">
    select count(1) taskCount, status taskKey from hogwarts_test_task where create_user_id = #{createUserId} GROUP BY status
  </select>

  <select id="getCaseCountByTask" resultType="HogwartsTestTask">
    select * FROM hogwarts_test_task where create_user_id = #{createUserId} ORDER BY update_time
    <if test="start != null and end != null ">
      limit #{start}, #{end}
    </if>
  </select>

</mapper>