<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hogwartstest.aitestmini.dao.HogwartsTestCaseMapper" >
  <resultMap id="BaseResultMap" type="com.hogwartstest.aitestmini.entity.HogwartsTestCase" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="package_name" property="packageName" jdbcType="VARCHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="case_sign" property="caseSign" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <update id="updateByCreateUserId">
    update hogwarts_test_case t set t.del_flag = 0,t.update_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s') where t.create_user_id = #{createUserId}
  </update>

  <select id="count" resultType="int">
    select count(1) from hogwarts_test_case htc where htc.create_user_id =  #{params.createUserId}

    <if test="params.caseSign != null and params.caseSign != '' ">
      and htc.case_sign like concat('%', #{params.caseSign}, '%')
    </if>
    and htc.del_flag = 1

  </select>

  <select id="list" resultType="HogwartsTestCase">
    select * from hogwarts_test_case htc where htc.create_user_id =  #{params.createUserId}

    <if test="params.caseSign != null and params.caseSign != '' ">
      and htc.case_sign like concat('%', #{params.caseSign}, '%')
    </if>
    and htc.del_flag = 1
    order by htc.update_time desc
    limit #{pageNum}, #{pageSize}
  </select>

</mapper>