<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hogwartstest.aitestmini.dao.HogwartsTestTaskCaseRelMapper" >
  <resultMap id="BaseResultMap" type="com.hogwartstest.aitestmini.entity.HogwartsTestTaskCaseRel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="listDetail" resultType="com.hogwartstest.aitestmini.dto.testcase.HogwartsTestTaskCaseRelDetailDto">

  SELECT tt.id,tt.task_id as taskId,tt.case_id as caseId,
    htc.package_name as packageName,htc.class_name as className,htc.method_name as methodName,
    htc.case_sign as caseSign,htc.remark,htc.del_flag as delFlag,
    htc.create_user_id as createUserId,tt.create_time as createTime,tt.update_time as updateTime

    from (

    select * from hogwarts_test_task_case_rel httcr
    where httcr.create_user_id = #{params.createUserId}
    and httcr.task_id = #{params.taskId}

    ) tt
    LEFT JOIN hogwarts_test_case htc on tt.case_id = htc.id
    <if test="params.caseSign != null and params.caseSign != '' ">
      and htc.case_sign like concat('%', #{params.caseSign}, '%')
    </if>
    order by htc.id desc
    <if test="pageNum != null and pageSize != null ">
      limit #{pageNum}, #{pageSize}
    </if>

  </select>

</mapper>