<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hogwartstest.aitestmini.dao.HogwartsTestHisMapper" >
  <resultMap id="BaseResultMap" type="com.hogwartstest.aitestmini.entity.HogwartsTestHis" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="report_url" property="reportUrl" jdbcType="VARCHAR" />
    <result column="report_path" property="reportPath" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="count" resultType="int">
    select count(1) from hogwarts_test_his htj where htj.create_user_id =  #{params.createUserId}

    <if test="params.name != null and params.name != '' ">
      and htj.name = #{params.name}
    </if>

  </select>

  <select id="list" resultType="HogwartsTestHis">
    select * from hogwarts_test_his htj where htj.create_user_id =  #{params.createUserId}

    <if test="params.name != null and params.name != '' ">
      and htj.name = #{params.name}
    </if>
    <if test="params.caseId != null and params.caseId != '' ">
      and htj.case_id = #{params.caseId}
    </if>
    order by htj.id desc
    limit #{pageNum}, #{pageSize}
  </select>


</mapper>
