<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hogwartstest.aitestmini.dao.HogwartsTestJenkinsMapper" >
  <resultMap id="BaseResultMap" type="com.hogwartstest.aitestmini.entity.HogwartsTestJenkins" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="test_command" property="testCommand" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="git_url" property="gitUrl" jdbcType="VARCHAR" />
    <result column="git_branch" property="gitBranch" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="count" resultType="int">
    select count(1) from hogwarts_test_jenkins htj where htj.create_user_id =  #{params.createUserId}

    <if test="params.name != null and params.name != '' ">
        and htj.name = #{params.name}
    </if>

  </select>

  <select id="list" resultType="HogwartsTestJenkins">
    select * from hogwarts_test_jenkins htj where htj.create_user_id =  #{params.createUserId}

    <if test="params.name != null and params.name != '' ">
      and htj.name = #{params.name}
    </if>
    order by htj.update_time
    limit #{pageNum}, #{pageSize}
  </select>


</mapper>